<!DOCTYPE html>
<html>
<head>
  <title>AuthExercise</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% flash.each do |key, msg| %>

  		  <!-- SAMETHING AS CONTENT_TAG -->
		<!-- <div> id="<%= key %>" style="color: red;"> -->
  	  <%= content_tag :div, msg, id: key, style: "color: red; " %>
		<!-- /div -->
  <% end %>
<%= yield %>

</body>

</html>
