<h2>New Form</h2>


<%= form_for [@concert] do |f| %>
  <%= f.label :artist %>
  <%= f.text_field :artist %>
  <br>
  <%= f.label :venue %>
  <%= f.text_field :venue %>
  <br>
  <%= f.label :city %>
  <%= f.text_field :city %>
  <br>
  <%= f.label :date %>
  <%= f.date_field :date %>
  <br>
  <%= f.label :price %>
  <%= f.number_field :price %>
  <br>
  <%= f.label :description %>
  <br>
  <%= f.text_area :description%>
  <br>
  <%= f.submit "Save" %>

  <button type="submit">
  Add this concert
  </button>

  <!-- <#%= link_to "Cancel", project_entries_path(@concert) %> -->
  <!--  <button type="submit">Add this Concert</button>
  <input type="hidden" name="authenticity_token"
      value="<%= form_authenticity_token %>"> -->



  <% end %>